* {
  padding: 0px;
  margin: 0px;
}
:root {
  --color: 2, 253, 0;
  --core-color: rgba(var(--color));
  --glow-color: rgba(var(--color));
  --backing-color: rgba(var(--color), 22%);
  --screen-color: rgba(53,55,51)
}
@font-face {
  font-family: 'monofontoregular';
  src: url('./assets/fonts/monofonto-webfont.woff2') format('woff2'),
       url('./assets/fonts/monofonto-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

input {
  background: none;
  border: none;
  text-align: center;
  border-bottom: 3px solid var(--glow-color);
  color: var(--core-color);
}
input:focus {
  outline: none;
}
/* these get rid of the arrows for input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#root {
  width: 100%;
  height: 100%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.large-text {
  color: var(--core-color);
  text-shadow: var(--glow-color) 0px 0px 10px;
  font-weight: 600;
}
.small-text {
  color: var(--core-color);
  text-shadow: var(--glow-color) 0px 0px 8px;
  font-weight: 400;
}
.backing {
  background: var(--backing-color);
  padding: .5vw;
}

.scanlines:before {
  /* Large scanline */
  width: 100%;
  height: 6vw;
  mix-blend-mode: darken;
  z-index: 2147483649;
  opacity: .5;
  background: linear-gradient(0deg, rgba(53,55,51,0) 0%, rgba(53,55,51,1) 25%, rgba(53,55,51,1) 75%, rgba(53,55,51,0) 100%);
  /* actual animation time is ~2s while time between animations is ~11s, combined here because cant delay between infinite anim */
  animation: scanline 13s linear infinite 11s;
  transform: translate3d(0, -110%, 0);
}
.scanlines:after {
  /* tiny screen lines */
  inset: 0;
  z-index: 2147483648;
  background: linear-gradient(to bottom, transparent 50%, rgba(53, 55, 51, 0.25) 51%);
  background-size: 100% .2vw;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}
@keyframes scanline {
  0% {
    transform: translate3d(0, -110%, 0);
  }
  15% {
    transform: translate3d(0, 100vh, 0);
  }
  100% {
    transform: translate3d(0, 100vh, 0);
  }
}

body {
  background-color: var(--screen-color);
  overflow: hidden;
}

.master {
  font-family: 'Roboto', sans-serif;;
  padding: 5vh 10vh;
  margin: auto;
  overflow: hidden;
  max-width: 1200px;
  max-height: 1000px;
  /* box-shadow: inset 0px 0px 8vw 1vw black; */
  border-radius: 8px;
}
.flicker {
  animation: flicker-2 30s linear infinite 30s;
}
@keyframes flicker-2 {
  0% {
    opacity: 1;
  }
  .25% {
    opacity: .2;
  }
  .5% {
    opacity: 1;
  }
  .75% {
    opacity: .2;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

header {
  /* height: 10vh; */
  height: 10%;
}

main {
  /* height: 74vh; */
  height: 84%;
}
path {
  fill: var(--core-color);
}

.list-container {
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
}
.list-container ul {
  list-style: none;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .3vw;
  font-size: 2.1vw;
}
footer div {
  display: flex;
  align-items: center;
}
.footer-lg-img {
  height: 2.1vw;
  max-height: 2.1rem;
  margin-right: .5ch;
}
.footer-stat {
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1650px) {
  footer {
    font-size: 2.1rem;
  }
}
