* {
  padding: 0px;
  margin: 0px;
}
:root {
  --color: 2, 253, 0;
  --core-color: rgba(var(--color));
  --glow-color: rgba(var(--color));
  --backing-color: rgba(var(--color), 22%);
}
@font-face {
  font-family: 'monofontoregular';
  src: url('./assets/fonts/monofonto-webfont.woff2') format('woff2'),
       url('./assets/fonts/monofonto-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.large-text {
  color: var(--core-color);
  text-shadow: var(--glow-color) 0px 0px 10px;
  font-weight: 600;
}
.small-text {
  color: var(--core-color);
  text-shadow: var(--glow-color) 0px 0px 8px;
  font-weight: 400;
}
.backing {
  background: var(--backing-color);
  padding: .5vw;
}

body {
  font-family: 'Roboto', sans-serif;;
  padding: 5vh 10vh;
  height: 54vw;
  overflow: hidden;
  background-color: #353733;
  width: 70vw;
  max-width: 1200px;
  max-height: 1000px;
}

header {
  /* height: 10vh; */
  height: 10%;
}

main {
  /* height: 74vh; */
  height: 84%;
}
path {
  fill: var(--core-color);
}


footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .3vw;
  font-size: 2.1vw;
}
footer div {
  display: flex;
  align-items: center;
}
footer svg {
  width: 2.1vw;
  max-width: 2.1rem;
  margin-right: .5ch;
}

@media screen and (min-width: 1650px) {
  body {
    margin: auto;
  }
  footer {
    font-size: 2.1rem;
  }
}
