.healthy-head {
  animation-duration: 1s; 
    animation-iteration-count: infinite; 
    animation-timing-function: steps(1);
    animation-name: head-bob;
}
@keyframes head-bob { 
  0% { 
    top: 8%;
    left: 24%;
  } 
  12.5% { 
    top: 6%;
    left: 23%;
  } 
  25% { 
    top: 5%;
    left: 22%; 
  } 
  37.5% { 
    top: 6%;
    left: 22%; 
  } 
  50% { 
    top: 7.7%;
    left: 21%; 
  } 
  62.5% { 
    top: 6.4%;
    left: 22%; 
  } 
  75% { 
    top: 5%;
    left: 23%;
  } 
  87.5% { 
    top: 6%;
    left: 23%;
  } 
  100% {
      top: 8%;
      left: 24%;
  }
}  

.broken-legs-head {
  animation-duration: 1s; 
    animation-iteration-count: infinite; 
    animation-timing-function: steps(1);
    animation-name: broken-legs-headbob;
}
@keyframes broken-legs-headbob { 
  0% { 
    top: 6%;
    left: 24%;
  } 
  14.3% {
    top: 5.5%;
    left: 25%;
  }
  28.6% {
    top: 5.5%;
    left: 26%;
  }
  42.9% {
    top: 5.9%;
    left: 25%;
  }
  57.2% {
    top: 5.5%;
    left: 25%;
  }
  71.5% {
    top: 5.4%;
    left: 25%;
  }
  85.8% {
    top: 6%;
    left: 25%;
  }
  100% {
    top: 6%;
    left: 24%;
  }
} 

.broken-arms-head {
  animation-duration: 1s; 
    animation-iteration-count: infinite; 
    animation-timing-function: steps(1);
    animation-name: broken-arms-headbob;
}
@keyframes broken-arms-headbob { 
  0% { 
    top: 7.5%;
    left: 24.5%;
  } 
  12.5% { 
    top: 5.4%;
    left: 23%;
  } 
  25% { 
    top: 4.8%;
    left: 23%;
  } 
  37.5% { 
    top: 5.6%;
    left: 23%;
  } 
  50% { 
    top: 7%;
    left: 22%;
  } 
  62.5% { 
    top: 6%;
    left: 23%;
  } 
  75% { 
    top: 4.5%;
    left: 23%;
  } 
  87.5% { 
    top: 5.5%;
    left: 23%;
  } 
  /* 100% {
    top: 7.5%;
    left: 24.5%;
  } */
}  