.inventory-grid {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vw;
}
.item-list {
    grid-column: span 2;
    display: flex;
    align-items: center;
}
.item-list ul {
    font-size: 2.2vw;
    height: 95%;
    width: 100%;
}
.item-list li {
    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.3vw 0 .3vw 2vw;
}
.item-list li:hover {
    background-color: var(--core-color);
    color: var(--screen-color);
}
.hovered {
    background-color: var(--core-color) !important;
    color: var(--screen-color) !important;
}
::-webkit-scrollbar {
   width: 0;
  }
.equipped::before {
    content: '';
    position: absolute;
    background-color: var(--core-color);
    width: 1vw;
    height: 1vw;
    max-width: 1rem;
    max-height: 1rem;
    bottom: 33.9%;
    right: 96.5%;
}
.equipped:hover::before {
    background-color: var(--screen-color);
}
.hovered.equipped::before {
    background-color: var(--screen-color);
}

.item-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2.2vw;
}
.item-details-container li {
    background-color: var(--backing-color);
    display: flex;
    justify-content: space-between;
    padding: .3vw;
    margin-top: .5vw;
}
.item-details-container .blurb {
    margin-bottom: -.4vw;
    font-size: 1.5vw;
    justify-content: center;
    text-align: center;
}

.doll-container {
    display: flex;
    justify-content: center;
}
.paper-doll {
    width: 15vw;
    position: absolute;
}
.paper-doll path {
    fill: var(--backing-color);
}
.armor-piece {
    position: absolute; 
}
#chestplate {
    transform: translate(-4%, 72%);
    width: 5vw;
}
#r-pauldron {
    transform: translate(-90%, 91%);
    width: 4vw;
}
#l-pauldron {
    width: 4vw;
    transform: translate(97%, 92%);
}
#r-shin {
    width: 4vw;
    transform: translate(-24%, 202%);
}
#l-shin {
    width: 4vw;
    transform: translate(56%, 206%);
}
#goggles {
    width: 4.7vw;
    transform: translate(0%, 30%);
}
#dome {
    width: 5vw;
    transform: translate(-2%, 0%);
}
#mask {
    width: 4.7vw;
    transform: translate(-12%, 43%);
}
#dome g path:first-child,
#mask g path:first-child {
    fill: var(--screen-color);
}


  @media screen and (min-width: 1650px) {
    .item-list ul {
        font-size: 2.3rem;
    }
    .item-details-container {
        font-size: 2.2rem;
    }
    .item-details-container .blurb {
        font-size: 1.3rem;

    }
  }