.inventory-grid {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vw;
}
.item-list {
    grid-column: span 2;
    overflow-y: scroll;
    overflow-x: hidden;
}
.item-list ul {
    font-size: 2.1vw;
    list-style: none;
}
.item-list li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: .1em 0 .1em 1em;
}
.item-list li:hover {
    background-color: var(--core-color);
    color: #353733;
}
::-webkit-scrollbar {
   width: 0;
  }

.item-details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 2.2vw;
}
.item-details-container li {
    background-color: var(--backing-color);
    display: flex;
    justify-content: space-between;
    padding: .3vw;
    margin-top: .5vw;
}

  @media screen and (min-width: 1650px) {
    .item-list ul {
        font-size: 2.3rem;
    }
    .item-details-container {
        font-size: 2.2rem;
    }
  }