.large-footer {
  grid-column: span 2;
}
.xp-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #xp-bar {
    width: 70%;
    height: 60%;
    box-shadow: inset var(--core-color) 0px 0px 0px .2vw;
  }
  #xp-fill {
    background: var(--core-color);
    height: 100%;
  }
  .right-footer {
    justify-content: flex-end;
  }