.setting-list {
    font-size: 1.2vw;
    /* padding: 1.5vw 0vw; */
    width: 50%;
    height: 90%;
}
.setting-list ul {
    padding-left: 2vw;
}
.setting-list ul li {
    display: flex;
    padding: 1%;
    justify-content: space-between;
}
.setting-list ul li:hover {
    background-color: var(--core-color);
    color: var(--screen-color);
}
.setting-list ul li:hover > input {
    color: var(--screen-color);
}
.setting-list input {
    background: none;
    border: none;
    font-size: 1vw;
    text-align: center;
    box-shadow: 0px 3px 0px var(--glow-color);
    color: var(--core-color);
}
.setting-list input:focus {
    outline: none;
}
.setting-list button {
    font-size: 142%;
    padding: 1%;
    background: var(--backing-color);
    border: none;
    color: var(--screen-color);
}
.setting-list button:hover {
    background-color: var(--core-color);
}
.option-display {
    width: 50%;
    font-size: 370%;
}
.option-display div {
    padding: 0 6%;
}
.option-display button {
    font-size: 95%;
    background: none;
    border: none;
    width: 10%;
}